@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

a.active{
    color: purple;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  *{
    font-family: outfit;
  }


  /* new css fonts */
  .prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.sideBar a.active{
  border-radius: 10px;
  background-color: brown;
  color: white;
}

/* ::-webkit-scrollbar{
  display: none;
} */
/* 
@media (max-width:640px){
  a.active{
    background-color: black;
    color: white;
  }
} */

.pass-input-container {
  position: relative;
  width: 100%;
}

.pass-input-container input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Space for the eye icon */
  box-sizing: border-box;
  border: 1px solid black;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); /* Centers the icon vertically */
  cursor: pointer;
  width: 20px; /* Adjust based on your icon size */
  opacity: 0.6;
}

.toggle-password:hover {
  opacity: 1;
}

